APP_NAME="TTD IN BKK"
APP_ENV="development"
APP_URL="http://localhost/ttd_in_bkk"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="db_ttd_in_bkk"
DB_USER="root"
DB_PASS=""

SSO_BASE_URL="https://apisso.bkkjateng.co.id"
SSO_APP="simpeg"

SESSION_NAME="TTDINBKKSESSID"
SESSION_SECURE="0"
